.float{
    width: 100%;
    height: 70px;
   
    position: sticky;
    bottom: 0px;
    
}
.more-detail{
    float: right;
    padding-right: 5px;
}
.more-detail img{
         height: 20px;
         width: 20px;
        
}